/phpunit.phar
/.phpunit.result.cache
/.phpunit.cache/
/vendor/
/tmp/
/composer.lock
/composer.phar
# IDE and editor specific files #
#################################
/nbproject/
/.idea/
/.phpstorm.meta.php
/tests/test_app/.phpstorm.meta.php/.ide-helper.meta.php
