parameters:
	level: 8
	paths:
		- src/

	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
		- tests/shim.php
	ignoreErrors:
		- '#Unsafe usage of new static\(\).+#'
		- '#Parameter \#1 \$object of function get_class expects object, object\|string given.#'
