services:
    -
        class: IdeHelper\PHPStan\AssociationTableMixinClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    ignoreErrors:
        - '#Call to an undefined method Cake\\ORM\\Association::getAlias\(\)#'
