services:
    -
        class: IdeHelper\PHPStan\AssociationTableMixinClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    autoload_files:
        - bootstrap.php
        - shim.php
    ignoreErrors:
        - '#Call to an undefined method Cake\\ORM\\Association::getAlias\(\)#'
        - '#Parameter \#1 \$object of function get_class expects object, string given#'
        - '#Parameter \#1 \$association of method .+ModelAnnotator::throughAlias\(\) expects .+BelongsToMany, .+Association given.#'
